Arduino IDE/
arduino-ide/
autostart/
blender/
Blockbench/
Code - OSS/
dconf/
desmos-offline-mode/
discord/
Electron/
Element/
gh/hosts.yml
GIMP/
go/
blockbench/
ibus/
instaloader/
kiwix-desktop/
kraxarn/
menus/
Mousepad/
obsidian/
procps/
qalculate/
pulse/
tailscale/ssh_known_hosts
Thunar/
tsnet-chat-server/
Undertype/
unity3d/
xfce4/
QtProject.conf